VITE_SUPABASE_URL=https://zotsovylluuefrpfxxlv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpvdHNvdnlsbHV1ZWZycGZ4eGx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE1ODMxOTMsImV4cCI6MjA5NzE1OTE5M30.25FGbCsULRJ71Sabu4TqBPXIz7EIKkvMnRJWIqI2VLk